
.demo {
    font-family: 'Noto Sans', sans-serif;
}

a:link {
  color: #ffad33;
}

a:visited {
  color: #ffcc80;
}

a:hover {
  color: #ff9900;
}

a:active {
  color: #cc7a00;
}

#add-prescriptions{
    padding:5px;
    width:100%;
    position:relative;
}
.inner-add-div{
    border: 1px solid white;
    width:100%;
    position:relative;
    padding:15px;
}

#add-edit-title{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding-left:5px;
}

#add-prescriptions input,#add-prescriptions select{
    width:200px;
    padding:4px;
    font-size:12px;
    outline-color: #ffcc80;
    margin-left:5px;
}

.action-buttons-holder{
    padding-left:10px;
}
.action-buttons-holder .btn{
    line-height:normal!important;
}

#add-prescriptions select{
    width:150px!important;
}

#add-prescriptions select:invalid { color: gray!important; }
.header{
    height: 63px;
    background: linear-gradient(to right, #008080, #2c3e50);
    width: 100%;
    display: flex;
}

.app-name{
    height: 100%;
    width: 50%;
    position: relative;
}

.app-name-text{
    position: relative;
    top:50%;
    left:3%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;

}
.user-details{
    text-align: right;
}

.user-name{
    font-size: 18px;
    left:0%!important;
    margin-right: 3%;
}
.user-details a{
    padding-left: 5px;
    font-size: 19px!important;
}

.user-details{
    height: 100%;
    width: 50%;
}

.container {
    width: 100%;
    min-width: 100%;
    position: absolute;
    background-color: #ebebe0;
}

.panel {
    background: linear-gradient(to right, #008080, #2c3e50);
    padding: 0;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05), 0 0 0 10px rgba(0, 0, 0, 0.05);
    min-height:88vh;
}

.panel .panel-heading {
    padding: 20px 15px;
    border-radius: 10px 10px 0 0;
    margin: 0;
}

.panel .panel-heading .title {
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 40px;
    margin: 0;
}

.panel .panel-heading .btn {
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    font-size: 16px;
    text-transform: capitalize;
    border: 2px solid #fff;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

.panel .panel-heading .btn:hover {
    color: #fff;
    text-shadow: 3px 3px rgba(255, 255, 255, 0.2);
}

.panel .panel-heading .form-control {
    color: #fff;
    background-color: transparent;
    width: 35%;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 20px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.panel .panel-heading .form-control:focus {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: none;
    outline: none;
}

.panel .panel-heading .form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 500;
}

.panel .panel-body {
    padding: 0;
}

.panel .panel-body .table thead tr th {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    border: none;
}

.panel .panel-body .table tbody tr td {
    color: #fff;
    font-size: 15px;
    padding: 10px 12px;
    vertical-align: middle;
    border: none;
}

.panel .panel-body .table tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.15);
}
.panel .panel-body .table tbody tr:hover{
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

.panel .panel-body .table tbody .action-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.panel .panel-body .table tbody .action-list li {
    display: inline-block;
    margin: 0 5px;
}

.panel .panel-body .table tbody .action-list li a, .user-details a{
    color: #fff;
    font-size: 15px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.panel .panel-body .table tbody .action-list li a:hover,.user-details a:hover {
    text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.3);
}

.panel .panel-body .table tbody .action-list li a:before,
.panel .panel-body .table tbody .action-list li a:after ,.user-details a::after, .user-details a::before{
    content: attr(data-tip);
    color: #fff;
    background-color: #111;
    font-size: 12px;
    padding: 5px 7px;
    border-radius: 4px;
    text-transform: capitalize;
    display: none;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -32px;
    transition: all 0.3s ease 0s;
}

.panel .panel-body .table tbody .action-list li a:after {
    content: '';
    height: 15px;
    width: 15px;
    padding: 0;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -18px;
    z-index: -1;
}

.panel .panel-body .table tbody .action-list li a:hover:before,
.panel .panel-body .table tbody .action-list li a:hover:after {
    display: block;
}

.panel .panel-footer {
    color: #fff;
    background-color: transparent;
    padding: 15px;
    border: none;
}

.panel .panel-footer .col {
    line-height: 35px;
}

.pagination {
    margin: 0;
}

.pagination li a {
    color: #fff;
    background-color: transparent;
    border: 2px solid transparent;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 31px;
    width: 35px;
    height: 35px;
    padding: 0;
    margin: 0 3px;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

.pagination li a:hover {
    color: #fff;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.2);
}

.pagination li a:focus,
.pagination li.active a,
.pagination li.active a:hover {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.pagination li:first-child a,
.pagination li:last-child a {
    border-radius: 50%;
}

@media only screen and (max-width:767px) {
    .panel .panel-heading .title {
        text-align: center;
        margin: 0 0 10px;
    }

    .panel .panel-heading .btn_group {
        text-align: center;
    }
}